.muse-controltoolbar {
    flex-direction: row;
    align-items: center;
    padding: var(--appui-spacing-125);
    background-color: var(--appui-backgrounds-100);
}

.muse-controltoolbar__leftarea  {
    flex-direction: row;
    align-items: center;
}

.muse-controltoolbar__centerarea  {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.muse-controltoolbar__rightarea  {
    flex-direction: row;
    align-items: center;
}

.muse-controltoolbar__actiongroup {
    width: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.muse-controltoolbar__actionbutton {
}